@use "../../styles/base/variables" as v;
@use "../../styles/base/mixins" as m;

.informacion-nav {
  &__nav {
    margin: 2rem auto;
    display: flex;
    align-items: center;
    @include m.tablet {
      justify-content: flex-start;
    }
  }
  &__atras {
    height: 5rem;
    width: 4rem;
    margin-right: 7rem;
    margin-left: 2rem;
  }
  &__grocasa {
    height: 5rem;
    width: auto;
    object-fit: cover;
  }
}
