// Fuentes
$fuente_principal: 'Poppins', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$negro: rgb(73, 71, 71);
$blanco: #FFFFFF;
$naranja: rgb(255, 81, 0);
$gris-claro: #b4b1b1;
$gris-oscuro: rgb(119, 117, 117);